<a href='/movies'>Go back</a>
<h1>{{movie.title}}</h1>
<h3>Director: {{movie.director}}</h3>

<h3>Stars</h3>
<ul>
    {{#each movie.stars}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<p>{{movie.description}}</p>

{{#each movie.showtimes}}
<span>{{this}} | </span>
{{/each}}

<br>
<img alt='movie' scr='{{movie.image}}'/>

